<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/about.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


</head>

<body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item  mx-3">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item  mx-3">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <section>
        <!-- Heading Text -->
        <div class="m-5">
            <h3> Image to Text </h3>
            <h1> Text Recognition System </h1>
            <p>Convert images into documents with “live text”
                Select your image and upload here. Once you got the preview <br> go for recognize and you will
                get 'live text' from the image.</p>
        </div>

        <div class="mx-5">
            <h4> How to use the system?</h4>
            <ul class="liStyle">
                <li>
                    Click on the '+' to select a image and click 'upload' .
                </li>
                <li>
                    Once you got preview click 'Recognize'.
                </li>
                <li>
                    You will obtain the 'live text' from the image, <br> here you can edit the text.Click on 'Save' to
                    save
                    as
                    document.
                </li>
            </ul>
            <div class="m-5">
                <i> Developed by:
                    Team Stunners </i>
            </div>

        </div>


    </section>
</body>

</html>