<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Custom CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/Style.css"> -->
</head>

<body>


    <!-- <h1>{{  value  }}</h1> -->

    <section class="backgroundImge">
        <div>
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item  mx-3">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item  mx-3">
                                <a class="nav-link" href="/about_us">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
        </div>

        <div class="text-center">
            <form action="/pdf" method="post">
            <!-- <label class="col-form-label"> <b> Filename</b> </label> -->
            <!-- <input type="text" id="filename" value="Untitled-1"> -->
            <div class="my-3 d-flex justify-content-center align-items-center">
                <textarea id="extracted-text" name="corrected" rows="20" cols="80"> {{  value  }} </textarea>
            </div>



            <div class="text-center">

                <button type="submit" class=" btn Button-style ">Download as PDF</button>
          
                <!-- <button id="download-btn" class=" btn Button-style ">Save as Textfile</button> -->

            </div>
        </form>
<br>
        <div class="text-center">

            <!-- <button type="submit" class=" btn Button-style ">Download as PDF</button> -->
      
            <button id="download-btn" class=" btn Button-style ">Save as Textfile</button>

        </div>
        

        </div>

    </section>


    <!-- <script src="../static/js/index.js"></script> -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>

</html>