<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Custom css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body>

    <div class="homepage">

        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid ">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ">
                        <li class="nav-item  mx-3">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item  mx-3">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <section>
            <div class="row">
                <div class="col ">

                    <!-- Heading Text -->
                    <div class="m-5">
                        <h3> Image to Text </h3>
                        <h1> Text Recognition System </h1>
                    </div>

                    <!-- Form Starts -->
                    <form action = "/upload" enctype="multipart/form-data" method = "POST">

                        <div class="wrapper align-self-center my-5">
                            <div class="box">
                                <div class="js--image-preview"></div>
                                <div class="upload-options">
                                    <label>
                                        <input type="file" name="file" required class="image-upload" accept="image/*"  />
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class=" btn Button-style ">Upload Image</button>
                        </div>


                    </form>
                    <!-- Form Starts -->

                </div>

                <div class="col"></div>

            </div>
        </section>

    </div>


    <!-- JS files -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>

</html>