<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Custom CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Style.css') }}">

</head>

<body>

    <div class="backgroundImge">

        <div class="m-5 retriveTextBox">

            <!-- Priview Image -->
            <div class="imagePriview " style=" background-color:rgb(233, 233, 233); width:100%; height: 80%;">
                <img src="{{ url_for('static', filename='input/test.png') }}" alt="Preview">

            </div>
            <!-- Priview Image -->

            <!-- Extract Button -->
            <form action="/extract" method="post">
                <div class="text-center my-4">
                    <button type="submit" class=" btn Button-style ">Retrive Text</button>
                </div>
            </form>
           
            <!-- Extract Button -->

        </div>

    </div>

</body>

</html>